<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cheq.retail">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        android:maxSdkVersion="29"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheQ"
        android:usesCleartextTraffic="false"
        tools:targetApi="n">
        <activity
            android:name=".ui.blocker_screen.BlockerActivity"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>

        <activity
            android:name=".base.BaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.vouchers.VouchersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.deeplinkHandler.DeepLinkHandler"
            android:exported="true">
            <intent-filter android:autoVerify="true">

                <!-- below line is to set the action to our intent to view -->
                <action android:name="android.intent.action.VIEW" />

                <!-- on below line we are adding a default category to our intent -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- on below line we are adding a category to make our app browsable -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                     on below line we are specifying the host name and
                    the scheme type from which we will be calling our app
                -->
                <data
                    android:host="app.appsflyer.com"
                    android:scheme="https" />
                <data
                    android:host="cheq.onelink.me"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.landing.view.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.view.activity.CreditHealthActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.login.CommonWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.accountSettings.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activateCard.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.loans.LoanSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.referral.ReferralActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.referral.ReferralHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loans.DetailsForLoanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.loans.SetLoansProviderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.webView.CommonWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <activity
            android:name=".ui.accountSettings.PoliciesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.ActivatedEMandateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.ManageCheqSafeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.PersonalDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.fragment.AppMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountSettings.TermsPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountSettings.ManageCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.billPayments.PaymentMethodsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.emandate.AutoPaySuccessfullActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emandate.EnableProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".ui.emandate.AutoPayActiveActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.activateCard.PaymentSuccessfulActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ExistingUserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoadingStateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.cheq.retail"
                    android:path="/frZYzAjIhc9yRZUzA+icpH8wKaU="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="terms" />
                <data android:scheme="privacy" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/RemoveAppSplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.verifyOtp.VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.GetPanCardActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activateCard.CardVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fetchProducts.FetchProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emandate.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emandate.SelectBankActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emandate.AccountDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.emandate.EmandateVerificationMethodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.emandate.EmandateVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activateCard.CardDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activateCard.CardDetailsActivityNew"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.billPayments.BillPaymentsRazorpayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.billPayments.BillPaymentSuccessfulActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.emandate.EmandateConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.socialLogin.SocialLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.TermsAndConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accountSettings.TransactionHistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.fragment.AppMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activateCard.PaymentWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.ViewAllVoucherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.RewardsCoinHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.SelectAmountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.SelectAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.fragment.AppMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.SuccessfulCreditedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rewards.view.C2CProcessingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.downTime.DownTimeActvity"
            android:exported="false" />

        <receiver
            android:name=".receiver.CheqFinartReceiver"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.SMSListner"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.MessagingServiceUtils"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_pAERjcOyKuReQB" />
    </application>

</manifest>